# NetBeans (Ant) - archivos privados/autogenerados
**/nbproject/private/
**/nbproject/build-impl.xml
**/nbproject/genfiles.properties

# Artefactos de build
**/build/
**/dist/

# Compilados/temporales
**/*.class
*.log
*.tmp
*.swp
*.swo
